body {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    color: white;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    font-family: 'Pacifico', cursive;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
}
.nav-menu a {
    color: white;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    margin-top: 2%;
}
.nav-menu a:hover {
    color: white;
    text-decoration: none;
    border: 1px solid #FFBF00;
    border-radius: 4px;
}
.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3%;
    margin-top: 2%;
    color: white;
}

.main-text {
    padding: 3%;
    line-height: 2;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    
}
.main-text a {
    color: black;
}
.main-text a:hover {
    text-decoration: none;
    color: black;
}
.main-account {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3%;
    width: 40%;
}
input:focus{
    outline: none
}
input[type="text"], input[type="email"], input[type="password"], input[type="button"] {
    width: 100%;
    
}

.btn {
    background-color: #FFBF00;
    font-weight: bold;
}
.btn:hover {
    box-shadow: 2px 3px 5px black;

}
